<span>Top Selling Products</span>

<div class="container">
    <div class="row" >
      <div class="col">
        <span id="id2">Health product plus</span>
      </div>
      <div class="col">
        <div class="progress" >
            <div class="progress-bar" id="pr1"role="progressbar" style="width: 75%;background-color: black;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="80"></div>
        </div>
      </div>
      <div class="col">
        <span id="i3">450 Gold</span>
      </div>
    </div>
    <div class="row">
        <div class="col">
          <span id="id2">Covid shield plus</span>
        </div>
        <div class="col">
          <div class="progress" >
              <div class="progress-bar" id="pr1"role="progressbar" style="width: 75%;background-color: rgb(227, 16, 146);" aria-valuenow="25" aria-valuemin="0" aria-valuemax="80"></div>
          </div>
        </div>
        <div class="col">
          <span id="i3">450 Gold</span>
        </div>
    </div>
    <div class="row">
        <div class="col">
          <span id="id2">CG term life </span>
        </div>
        <div class="col">
          <div class="progress" >
              <div class="progress-bar" id="pr1"role="progressbar" style="width: 75%;background-color: rgb(27, 27, 195);" aria-valuenow="25" aria-valuemin="0" aria-valuemax="80"></div>
          </div>
        </div>
        <div class="col">
          <span id="i3">450 Gold</span>
        </div>
    </div>

  </div>