<div class="con" style="    margin-left: 250px;margin-top: 51px;margin-bottom: 116px;">
    <h5>Renewal</h5>
    <div class="card" id="od" style="width: 61rem;height: 30rem;">
       
         <div class="card" id="sd" style="width: 61rem;height: 8.5rem;">
            <div class="row">
                <div class="col" id="kd">
                    <img src="./assets/images/man.jpeg" alt="Profile" class="rounded-circle"id="img" style="margin-right:20px" />   
                </div>
                <div class="col">
                    <h6>John smith</h6>
                    <h6>(+91)74847475899</h6>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-light">send payment link</button>
                </div>
                <div class="col" id="icon">
                    <i class="bi bi-pen"></i>
                    <i class="bi bi-telephone"></i>
                    <i class="bi bi-envelope"></i>
                </div>
            </div>
         </div>
        
        <div class="row ">
            <div class="col p-3">
              <h6>Policy Number</h6>
              <h6>102777511</h6>
            </div>
            <div class="col  p-3">
                <h6>Product Name</h6>
                <h6>Product Plus</h6>
            </div>
            <div class="col  p-3">
                <h6>Date of Issue</h6>
                <h6>25/6/2019</h6>
            </div>
            <div class="col  p-3">
                <h6>Date of Renewal</h6>
                <h6>22/05/2023</h6>
            </div>
        </div>
        <div class="row">
            <div class="col  p-3">
                <h6>Policy Holder</h6>
                <h6>John Smith</h6>
            </div>
            <div class="col  p-3">
                <h6>NRIC Number</h6>
                <h6>746756</h6>
            </div>
            <div class="col  p-3">
                <h6>Submmission date</h6>
                <h6>22/05/2023</h6>
            </div>
            <div class="col  p-3">
                <h6>Total sum insured</h6>
                <h6>$200000</h6>
            </div>
        </div>
        <div class="row">
            <div class="col  p-3">
                <h6>Adress</h6>
                <h6>43,mela sri devi mangalam</h6>
            </div>
            <div class="col  p-3">
                <h6>Total premium</h6>
                <h6>$1027</h6>
            </div>
            <div class="col  p-3">
                <h6>Amount payable</h6>
                <h6>$1027</h6>
            </div>
            <div class="col  p-3">
                <h6>Period of Insurance</h6>
                <h6>20 Years</h6>
            </div>
        </div>
        <div class="row">
            <div class="col  p-3">
                <h6>Email</h6>
                <h6>Johnsmith@xyz.com</h6>
            </div>
            <div class="col  p-3">
                <h6>Status</h6>
                <h6><button type="button" class="btn btn-success">Inprogress</button></h6>
            </div>
            <div class="col  p-3">
                <h6>Insured policy holder</h6>
                <h6>John Smith</h6>
            </div>
            <div class="col  p-3">
                <h6></h6>
                <h6></h6>
            </div>
        </div>
    </div>
</div>