.card {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    padding: 20px;
    
    width: 54rem;
    height: 15rem;
    margin-left: 626px;
    margin-top: 150px;
  }
  svg{
    margin-left: 807px;
    height: 34px;
    width: 30px;
  }
  #gh{
    padding-left: 145px;
    padding-top: 23px;
  }